/******************************************************************************/

.LayoutLeft {
  width: 20vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

/******************************************************************************/

.LargeStats {
  background-color: rgb(107, 107, 107);
  flex-shrink: 0;
  display: grid;
  padding: 1rem;
}

.LargeStats * {
  text-align: center;
}

.LargeStats .number {
  font-size: 3rem;
}

/******************************************************************************/

.List {
  background-color: rgb(168, 168, 168);
  overflow-y: auto;
}

.List .list-items {
  margin: 0 1rem 1rem 1rem;
}

.List .item {
  list-style: none;
  font-size: 1.1rem;
  padding: 1rem 0;
  cursor: pointer;
  border-bottom: 1px solid #262626;
}

.List .item:hover {
  color: red;
  transition: all 0.25s ease-out;
}

.List span {
  float: right;
}

input {
  position: sticky;
  top: 0.5rem;
  width: calc(100% - 2.2rem);
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0.5rem;
}

/******************************************************************************/
