/******************************************************************************/

.LayoutLeft {
  width: 20vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  color: rgb(228,63,90);
}

/******************************************************************************/

.LargeStats {
  position: relative;
  background-color: rgb(27,27,47);
  flex-shrink: 0;
  display: grid;
  padding: 1rem;
}

.LargeStats .text {
  text-align: center;

}

.LargeStats * {
  text-align: center;
}

.LargeStats .number {
  font-size: 3rem;

}

.LargeStats .tooltip {
  display: inline;
  border-bottom: 1px dotted black;
  cursor: help;
}

.LargeStats .tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  transform: translateY(2.5rem);
  z-index: 1;
  width: 200px;
  background-color: #262626;
  padding: 8px;
  border-radius: 5px;
  color: white;
}

.LargeStats .tooltip:hover .tooltiptext {
  visibility: visible;
}

/******************************************************************************/

.List {
  background-color: rgb(22, 36, 71);
  overflow-y: auto;
  overflow-x: hidden;
}

.List .list-items {
  margin: 0 1rem 1rem 1rem;
}

.List .item {
  list-style: none;
  font-size: 1.1rem;
  padding: 1rem 0;
  cursor: pointer;
  border-bottom: 1px solid #e43f5a;
}

.List .item:hover {
  color: red;
  transition: all 0.25s ease-out;
}

.List span {
  float: right;
}


input {
  position: sticky;
  top: 0.5rem;
  width: calc(100% - 2.2rem);
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0.5rem;
  color: rgb(228,63,90);
  background-color: rgb(22, 36, 71);
  font-weight: bold;
  border: 1px solid rgb(228,63,90); 
}

/******************************************************************************/

