.App {
  display: flex;
  overflow: hidden;
  height: 100%;
  background-color: darkgray;
}

/* LAYOUT LEFT */
.LayoutLeft {
  width: 20vw;
}

.LargeStats {
  height: 300px;
  background-color: aqua;
}

.List {
  height: calc(100% - 332px);
  padding: 16px;
  background-color: beige;
  overflow-y: auto;
}

.List .item {
  list-style: none;
  font-size: 1.1rem;
  padding: 16px 0;
  cursor: pointer;
  border-bottom: 1px solid #262626;
}

.List .item:hover {
  color: red;
  transition: all 0.25s ease-out;
}

.List span {
  float: right;
}

/* LAYOUT RIGHT */
.LayoutRight {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: stretch;
}

.LayoutRight * {
  width: 50%;
}

.LocalStats {
  background-color: blueviolet;
}

.HcdStats {
  background-color: blue;
}

.CumulativeGraph {
  background-color: chocolate;
}

.WeeklyGraph {
  background-color: darkgoldenrod;
}
