@import "./Components/LayoutLeft/index.css";
@import "./Components/LayoutRight/index.css";

.App {
  display: flex;
  overflow: hidden;
  height: 100%;
}

/* LAYOUT LEFT */
.LayoutLeft {
  width: 20vw;
}

/* LAYOUT RIGHT */
.LayoutRight {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: stretch;
}
