@import "normalize.css";

body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background: rgb(22, 36, 71);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  position: absolute;
  bottom: 0;
  height: 3rem;
  width: 100vw;
  background-color: rgb(27, 27, 47);
  display: flex;
  justify-content: center;
  flex: 1;
  color: rgb(228, 63, 90);
}

a:link,
a:visited {
  color: #666666;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  border-bottom: 3px solid #e43f5a;
  color: #e43f5a;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(228, 63, 90, 0.8);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 70, 101, 0.8);
}
