/******************************************************************************/

.LayoutRight {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  color: rgb(228, 63, 90);
}

.LayoutRight .closeIcon:active {
  color: #e22e4b;
}

.LayoutRight .closeIcon,
.LayoutRight .helpIcon {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
  cursor: pointer;
  color: #666666;
  transition: color 0.15s ease-in-out;
}

.LayoutRight .helpIcon {
  transform: translateX(0.3rem);
}

.LayoutRight .closeIcon:hover,
.LayoutRight .helpIcon:hover {
  color: rgb(228, 63, 90);
}

/******************************************************************************/

.MainPage {
  background: rgb(22, 36, 71);
  flex: 1;
  display: grid;
  grid-template-areas:
    "text map"
    "x legend";
  grid-template-columns: 1fr 1fr;
}

.MainPage .text {
  grid-area: text;
  margin: auto 0 auto auto;
}

.MainPage #number {
  display: inline-block;
}

.MainPage .text h1 {
  font-size: 6rem;
}

.MainPage .Map {
  grid-area: map;
  height: 87vh;
  margin: 1rem auto auto 0;
}

.MainPage .Map * {
  transition: all 0.3s ease-in-out;
  stroke: rgb(22, 36, 71);
}

.MainPage .Map path:hover,
.MainPage .Map polygon:hover {
  opacity: 80%;
}

.MainPage .caseClass0 {
  fill: #f5b7c1;
  color: #f5b7c1;
}

.MainPage .caseClass10 {
  fill: #ee8495;
  color: #ee8495;
}

.MainPage .caseClass25 {
  fill: #e65069;
  color: #e65069;
}

.MainPage .caseClass100 {
  fill: #a01a30;
  color: #a01a30;
}

.MainPage .caseClass500 {
  fill: #4c0c17;
  color: #4c0c17;
}

.MainPage .legend {
  grid-area: legend;
  margin-bottom: 0.5rem;
}

.MainPage .legend .legendText {
  margin: 0 0 0.5rem 0;
}

.MainPage .legend .iconText {
  display: inline-block;
  margin-right: 0.5rem;
}

/******************************************************************************/

.LocalStats {
  width: 50%;
  height: 50%;
  background-color: #162447;
}

.LocalStats h1 {
  font-size: 3vw;
  margin-left: 4rem;
  margin-top: 4rem;
}

.LocalStats h2{
  margin-left: 4rem;
}
.LocalStats p {
  margin-left: 4rem;
  font-size: 1vw;
}

/******************************************************************************/

.HcdStats {
  width: 50%;
  height: 50%;
  background-color: #162447;
}

.HcdStats h1 {
  font-size: 3vw;
  margin-top: 4rem;
  margin-left: 4rem;
}

.HcdStats h2,
.HcdStats p {
  margin-left: 4rem;
  font-size: 1vw;
}

.HcdStats svg {
  height: 20rem;
  width: 20rem;
}

.HcdStats path,
.HcdStats polygon {
  opacity: 10%;
}

.HcdStats #Map .show {
  opacity: 100%;
}

/******************************************************************************/

.CumulativeGraph {
  width: 50%;
  height: 50%;
  background-color: #162447;
}

.CumulativeGraph .canvasjs-chart-credit {
  display: none;
}

/******************************************************************************/

.WeeklyGraph {
  width: 50%;
  height: 50%;
  background-color: #162447;
}

.WeeklyGraph .canvasjs-chart-credit {
  display: none;
}

/******************************************************************************/

@media only screen and (max-width: 1239px) {
  .LayoutRight .closeIcon,
  .LayoutRight .helpIcon {
    right: 1.5rem;
  }

  .MainPage {
    grid-template-areas:
      "text"
      "map"
      "legend";
    grid-template-columns: 1fr;
  }

  .MainPage .text,
  .MainPage .Map {
    margin: auto;
  }

  .MainPage .legend {
    text-align: center;
  }

  .LayoutRight {
    flex-flow: column;
  }

  .LocalStats,
  .HcdStats,
  .CumulativeGraph,
  .WeeklyGraph {
    width: 100%;
    min-height: 400px; /* Fix this whenever there is content */
  }
}
